
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



@model TatliGezi.DTO.PasswordDTO






<section class="header" id="header">

    <div class="container">
        <div class="header-table">
            <div class="header-wrapper">
                <section class="main">
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-5 col-lg-offset-3 col-md-6 col-md-offset-4">
                                <div>

                                    <div class="panel-body">

                                        @if (ViewBag.Durum == 0)
                                        {
                                            <div class="alert alert-danger">Şifreler uyuşmuyor veya yanlış</div>
                                        }
                                        else if (ViewBag.Durum == -1)
                                        {
                                            <div class="alert alert-danger">Ooppss!! Lütfen Gerekli Alanları Doldurunuz!</div>
                                        }


                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                        {



                                            <div class="form-group">
                                                <label>Eski Şifre</label>
                                                @Html.PasswordFor(x => x.ExPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.ExPassword)
                                            </div>
                                            <div class="form-group">
                                                <label>Yeni Şifre</label>
                                                @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.NewPassword)
                                            </div>
                                            <div class="form-group">
                                                <label>Yeni Şifre Tekrar</label>
                                                @Html.PasswordFor(x => x.ComfirmNewPassword, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(x => x.ComfirmNewPassword)
                                            </div>



                                            <input type="submit" name="name" class="btn btn-primary" value="Kaydet" />

                                            @*}*@

                                            @*</div>
                                                    </div>

                                                </div>*@


                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



            </div> <!-- /.header-wrapper -->
        </div>
    </div> <!-- /.container -->
</section>

