
@{
    ViewBag.Title = "CookiePolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TatliGezi.Models.Article

<head>
    <!-- ========== SEO ========== -->
    @*<title>@Model.ArticleTitle</title>

        <meta content="@Model.MetaDescription" name="description">
        <meta content="@Model.Keywords" name="keywords">
        <meta content="@Model.Author" name="author">*@



</head>
<!-- ========== HEADER ========== -->
@Html.Partial("_Header", Model)
<!-- ========== MAIN ========== -->

<main class="blog-post">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-9">
                <article class="post">
                    <!-- IMAGE -->

                    <h1 class="post-title">ÇEREZ POLİTİKASI</h1>


                    <p class="dropcap" style="text-align:justify;">

                        Tatligezi olarak; site kullanımlarına ilişkin istatistiksel çalışmaların yapılması, hedeflenmiş reklam/tanıtımların yapılması ve etkin bir müşteri deneyimi yaşamanızı sağlamak amacıyla site’de muhtelif türde çerezler kullanılmaktadır. Bunlar oturum çerezleri, kalıcı çerezler, zorunlu çerezler, işlevsellik çerezleri, analiz çerezleri, ticari çerezler ve üçüncü parti çerezleridir.

                        Çerezler ziyaret edilen internet sitesinin düzgün bir şekilde çalışmasını ve geliştirilmesini, kullanıcı deneyiminin kişiselleştirilmesini ve iyileştirilmesini, siteleri oturum açmadan ziyaret edebilmesini ve/veya tarafına ticari-sosyal amaçlı bildirimler yollanmasını ve genel olarak site kullanıcıları-ziyaretçilerine gerek ilgili sitede, gerek başkalarına ait sitelerde (sosyal medya-ağlar ve online reklam ağları dahil) genel ya da özelleştirilmiş bilgilendirmeler, reklam ve tanıtımlar sunulmasını-iletilmesini sağlamak amacıyla bilgisayarlara ve mobil cihazlara yerleştirilen küçük veri parçacıklarıdır. Çerezler bilgisayar-cihazlarda, varsa kanuni azami süre aşılmamak kaydıyla, amaca uygun bir süre ile tutulurlar.

                        Sitemizi kullanan ziyaretçiler yukarıda belirtilen uygulamayı, keza ilgili tanımlama bilgilerinin burada, kişisel veri mevzuatında ve bu bilgilendirme metninin diğer kısımlarında çeşitli bilgileriniz için öngörülen amaçlarla ve kapsamda-şartlarda işlenmesini (bu çerçevede üçüncü kişilere aktarım-paylaşımları ve kullanmaları dahil) kabul etmiş sayılırlar.

                        Ziyaretçiler istedikleri her zaman cihazlarındaki program ve/veya işletim sistemi ve/veya internet tarayıcısının ayarlarından çerezleri düzenleyerek kaldırabilirler ve/veya anılan bildirimleri durdurabilirler (Bu takdirde Sitemizin/ilgili cihazın/programın arzu edildiği gibi çalışmayabileceği ve/veya bildirim içeriklerinden haberdar olunamayacağı bilinmelidir).

                    </p>


                </article>
            </div>

        </div>
    </div>
</main>








<!-- ========== FOOTER ========== -->
@Html.Partial("_Footer", Model)
<!-- ========== BACK TO TOP ========== -->
<div id="back-to-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


<h2></h2>

<p>

</p>

